:root.theme-dark {
  --page-background-image: url(../images/cover-image.png);
  --page-background-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --button-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --decorative-color: #ff0070;
}

.theme-dark .page {
  background-color: var(--page-background-color);
}
