.page {
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--text-color);
}

.header {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.header__theme-menu {
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  color: var(--button-color);
  text-transform: lowercase;
  cursor: pointer;
  padding: 0 13px;
  min-height: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button_active,
.header__theme-menu-button:disabled {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.content {
  display: grid;
  gap: 50px;
  padding: 0 20px 20px;
}

.section {
  display: block;
}

.footer {
  min-height: 100vh;
  position: relative;
  padding: 20px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-color: var(--decorative-color);
  border-style: solid;
}

.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-width: 1px 1px 0 0;
}

.decorated-zone::after {
  bottom: 20px;
  left: 20px;
  border-width: 0 0 1px 1px;
}

@media (min-width: 768px) {
  .content {
    gap: 80px;
    padding: 0 20px 20px;
  }

  .header__theme-menu-list {
    gap: 10px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }
}
